APP_ENV=development
DEBUG=1
SECRET_KEY=recipevault-demo-secret-key
APP_PORT=8000
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
MEDIA_ROOT=/app/media
DB_HOST=db
DB_NAME=recipevault
DB_USER=recipeuser
DB_PASSWORD=recipepass
POSTGRES_DB=recipevault
POSTGRES_USER=recipeuser
POSTGRES_PASSWORD=recipepass
